<div class="py-2 px-5">
    <h2 class="border-b ">Members</h2>
    <p class="mt-2">Assign more agents to your channel to give your clients replay within few minutes! you can add members in team management section in settings/manage. </p>

    <div class="mt-2">
        Teammates - 
        <div class="flex border hover:bg-gray-100 p-1 mb-1 rounded-lg items-center text-gray-700 justify-between">
            <img class="w-10 h-10 rounded-full" src="https://yt3.googleusercontent.com/-CFTJHU7fEWb7BYEb6Jh9gm1EpetvVGQqtof0Rbh-VQRIznYYKJxCaqv_9HeBcmJmIsp2vOO9JU=s900-c-k-c0x00ffffff-no-rj" alt="">
            <div>
                <p>Username</p>
                <p class="text-xsm text-gray-600">mail@mail.com</p>
            </div>
            <button class="px-3 py-2 text-white hover:bg-green-600 bg-green-500 rounded">
                Add +
            </button>
        </div>
        <div class="flex border hover:bg-gray-100 p-1 mb-1 rounded-lg items-center text-gray-700 justify-between">
            <img class="w-10 h-10 rounded-full" src="https://yt3.googleusercontent.com/-CFTJHU7fEWb7BYEb6Jh9gm1EpetvVGQqtof0Rbh-VQRIznYYKJxCaqv_9HeBcmJmIsp2vOO9JU=s900-c-k-c0x00ffffff-no-rj" alt="">
            <div>
                <p>Username</p>
                <p class="text-xsm text-gray-600">mail@mail.com</p>
            </div>
            <button class="px-3 py-2 text-white hover:bg-red-600 bg-red-500 rounded">
                remove -
            </button>
        </div>
    </div>
</div>
