@tailwind base;
@tailwind components;
@tailwind utilities;


.widgetBody{
    max-width: 400px;
    margin: 0% auto;
    font-family: Inter,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Tahoma,Arial,sans-serif;
}
.chatbgclr{
    background-color: rgb(49, 86, 211);
    /* rgb(56, 11, 97); */
}
.message-body{
    -webkit-user-select: text; /* Safari  -text select enable*/
  -ms-user-select: text; /* IE 10 and IE 11 -text select enable*/
  user-select: text; /* Standard syntax -text select enable*/
}
pre{
    font-family: Inter,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Tahoma,Arial,sans-serif;
}
::ng-deep .wuser-widget-message-url{
    color: white ;
}
::ng-deep .agent-widget-message-url{
    color: rgb(90, 45, 255) ;
}
.emoji-mart{
    position: absolute;
    bottom: 70px;
    left:0;
}