<!-- This is an example component -->
<!--div class=" mx-auto shadow-lg h-screen border flex flex-col select-text"> <!--absolute top-1 left-1 right-1 bottom-1 -->
    <!-- Chatting -->
    <div class="flex flex-row justify-between bg-white border">
        <!-- chat list -->
        <div class="flex flex-col w-1/5 border-r-2 overflow-y-auto select-none h-screen">
            <!-- search compt -->
            <div class="border-b-2 py-4 px-2">
                Live Chat
            </div>
            <!-- <div *ngIf="chatRooms$ | async">{{chatRooms$|async|json}}</div> -->
            <!-- end search compt -->
            <!-- user list -->
            <div class="overflow-x-hidden overflow-y-auto flex-1"  *ngIf="chatRooms$ | async">

                <div class="flex flex-row py-1 px-2 items-center border-b-2 w-100 hover:bg-gray-100 cursor-pointer" *ngFor="let cr of chatRooms$ | async" [routerLink]="'/app/chat/'+cr.channel+'/'+cr._id">
                    <div class="w-12">
                        <img src="https://source.unsplash.com/_7LbC5J-jw4/600x600"
                            class="object-cover h-10 w-10 rounded-full" alt="" />
                    </div>
                    <div class="flex-1 overflow-x-hidden">
                        <p class="text-lg font-semibold truncate" [title]="cr.message_preview.message">{{cr.message_preview.message}}</p>
                        <p class="text-sm truncate" [title]="cr.message_preview.message">{{cr.message_preview.message}}</p>
                        <span class="text-xs text-gray-500 " [title]="cr.message_preview.time | date">{{getDateRelative(cr.message_preview.time)}}</span>
                    </div>
                </div>
                
                <!-- end user list -->
            </div>
        </div>
        <!-- end chat list -->
        <router-outlet></router-outlet>
    </div>
<!-- </!--div> -->