<div class="widgetBody h-screen chatbgclr">
    <div class="flex flex-col m-auto h-screen  ">
        <div class="my-6 flex justify-between">
            <h1 class="p-3 text-xl text-white font-extrabold">Company Name</h1>
            <div class="flex w-32 ">
                <div class="rounded-full bg-white p-1">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147133.png" alt="">
                </div>
                <div class="rounded-full bg-white p-1 -ml-5">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147133.png" alt="">
                </div>
                <div class="rounded-full bg-white p-1 -ml-5 mr-2">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147133.png" alt="">
                </div>
            </div>
        </div>
        <div class="bg-white rounded-t-2xl mt-5 p-6 w-full bg-opacity-90 flex flex-col flex-1 justify-between">
            <div>
                <h1 class="opacity-75 text-2xl ">Hi there </h1>
                <h1 class="">How can we help you?</h1>
            </div>
            <div class="flex justify-between border p-3 opacity-100 rounded-lg shadow-xl bg-white mt-5 items-center" routerLink="/widget/chat/test">
                <div>
                    <h2>Sent as a message</h2>
                    <p class="text-xs opacity-75 ">We typically reply within 5minutes</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none">
                    <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2"/>
                    <path d="M13.9137 15.1001L15.32 11.1939C15.8932 9.60167 14.353 8.06149 12.7608 8.6347L8.85455 10.0409C7.1758 10.6453 7.39162 13.085 9.15038 13.3853C9.87655 13.5093 10.4454 14.0781 10.5694 14.8043C10.8696 16.5631 13.3094 16.7789 13.9137 15.1001Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>
</div>